.footer {
  margin-top: 67px;
  margin-bottom: 60px; 
  min-height: 18px;
  max-width: 318px;
}

.footer__copyright {
  font-family: "Inter", arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin-bottom: 0;
}

@media screen and (max-width: 880px) {
  .footer {
    margin-top: 48px; 
    margin-bottom: 0;
  }

  .footer__copyright {
    font-size: 14px;
    margin-left: 19px;
    margin-bottom: 36px;
  }
}
