.page {
  background-color: #000000;
  color: #FFFFFf;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

