.page {
  background-color: #000000;
  color: #FFFFFf;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.page__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

