.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card_trash-button {
  position: absolute;
  background: url(../images/Trash.svg) no-repeat;
  right: 15px;
  top: 18px;
  width: 18px;
  height: 19.3px;
  border-style: none;
  cursor: pointer;
}

.card_trash-button:hover {
  opacity: 60%;
}

.card__description {
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 282px;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin-left: 28px;
  border-style: none;
  padding-right: 21px;
  margin-right: 20px;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background: url(../images/like-btn-active.svg) center no-repeat;
}

.card__header {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 40px);
}
