.header {
  max-width: 880px;
  max-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / .7);
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 550px) {
  .header {
    margin-top: 28px;
}

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}

